html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
}

ul, li, a, div, section{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/*-----------------NAV-MENU-----------------*/

header{
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

nav{
    width: 90%;
    height: 100%;
    margin:auto auto;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    float: left;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

nav li::after {
    content:"";
    border-bottom: 2px solid gold;
    right: 100%;
    position: absolute;
    transition: all .5s ease-in-out;
    width: 0%;
}

nav li:hover::after {
    left: 0;
    width: 100%;
}

nav a:hover{
    color: orange;
}

nav a img{
   width: 10rem;
   height: auto;
}

.sub-menu{
    display: inline-block;
}

.sub-items{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    width:14rem;
    z-index: 1000;
    margin: 0 auto;
}
nav > ul li:hover .sub-items{
    display: block;
}
.sub-items li{
    float: none;
    width: 100%;
    text-align: left;
}
.sub-items a{
    padding: 10px;
    border-bottom: none;
}
.sub-items a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.sub-menu > a::after{
    content:" ⮛";
    font-size: 12px;
}

.logo-nav{
    margin-right: 25%;
    font-size: 2rem;
}


/*--------------------------------------------------------------------------
                                BANNER
--------------------------------------------------------------------------*/
#banner{
    margin-top: -10vh;
}

.banner-container{
    width: 100%;
    height: 100vh;
    background-color: brown;
}

/*--------------------------------------------------------------------------
                                AGENCE
--------------------------------------------------------------------------*/
.agence-container{
    width: 100%;
    height: 100vh;
    background-color: pink;
}

/*--------------------------------------------------------------------------
                                SITES
--------------------------------------------------------------------------*/
.sites-container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}


/*--------------------------------------------------------------------------
                                E-MARKETING
--------------------------------------------------------------------------*/
.emarketing-container{
    width: 100%;
    height: 100vh;
    background-color: yellowgreen;
}


/*--------------------------------------------------------------------------
                                FORMATIONS
--------------------------------------------------------------------------*/
.formations-container{
    width: 100%;
    height: 100vh;
    background-color:tomato;
}


/*--------------------------------------------------------------------------
                                REFERENCES
--------------------------------------------------------------------------*/
.references-container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

/*--------------------------------------------------------------------------
                                CONTACT
--------------------------------------------------------------------------*/
.contact-container{
    width: 100%;
    height: 100vh;
    background-color:sienna;
}