@font-face {
    font-family: 'ubuntu';
    src: url(font/Ubuntu-Bold.ttf);
    src: url(font/Ubuntu-BoldItalic.ttf);
    src: url(font/Ubuntu-Italic.ttf);
    src: url(font/Ubuntu-Light.ttf);
    src: url(font/Ubuntu-LightItalic.ttf);
    src: url(font/Ubuntu-Medium.ttf);
    src: url(font/Ubuntu-MediumItalic.ttf);
    src: url(font/Ubuntu-Regular.ttf);
}

:root{
    --main-color: #023e8a;
    --secondary-color:#0077B6;
    --complementary-color:#;
    --white-texte:#f9f9f9;
    --black-text:#515151;
    --light-grey-text:#909090;
}

body, ul, li, a, section,h1,h2,h3,h4,p,button{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}

body{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'ubuntu';
    font-size: 1.1rem;
    color: var(--black-text);
    background-image: url(img/4907157.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h3{
    text-transform: uppercase;
    margin: 5px 0 20px 0;
    font-size: 1.4rem;;
}

button{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color:var(--black-texte);
    padding: 10px;
    background-color: var(--white-texte);
    margin: 10px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 30%);
}

section{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-top: 5%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 30px 30px 0 0;
    padding: 3%;
    color: var(--white-texte);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;
}



/*--------------------------------------------------------------------------
                            HEADER
--------------------------------------------------------------------------*/

header{
    width: 100%;
    height: 4rem;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    height: 4rem;
    width: 100vw;
    z-index: 1000;
}


#hero h1{
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 4px;
    white-space: nowrap;
    color:var(--white-texte);
}

.nav-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: baseline;
}

header li a{
    margin: 20px 20px 0px 20px;
    text-transform: capitalize;
    position: relative;
    color: var(--white-texte);
}

header li a::after {
        content:"";
        border-bottom: 2px solid var(--secondary-color);
        left: 50%;
        position: absolute;
        top: 110%;
        transition: all .2s ease-in-out;
        width: 0%;
}
    
header li a:hover::after {
        left: 0;
        width: 100%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white-texte);
}

@media screen and (max-width: 1445px){
    .nav-menu {
        position: fixed;
        left: -150%;
        top: 3rem;
        flex-direction: column;
        background-color: var(--white-texte);
        width: 100vw;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 150;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-item{
        margin: 2.5rem auto;
    }   
    .nav-link{
    color: #162133;
    font-size: 1.6rem;
    font-weight: bold;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        margin-left: 12vw;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*--------------------------------------------------------------------------
                            HERO BANNER HOME
--------------------------------------------------------------------------*/

.hero-banner{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.card{
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 0 5% 10% 5%;
}

.hero-title{
    height: 50%;
    width: 58vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-radius: 30px 30px 0 0;
    padding: 3%;
}

.hero-title img{
    width: 280px;
    height: auto;
    position: absolute;
    margin-top: 3vh;
    box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.29);
    padding: 4px;
    background-color: var(--white-texte);
    border-radius: 2px;
}

.hero-title div{
  width: 100%;
  margin-left: 16vw;
  position: relative;
  text-align: center;
  color: var(--white-texte);
}

.hero-title h1{
    font-size: 1.4rem;
    margin: 10px 0 20px 0;
    font-weight: 300;
}

.hero-title h2{
    font-size: 4rem;
}

.hero-title .social-media{
    margin: 0;
    width: 10vw;
    margin-left:  38%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-description{
    height: 50%;
    width: 58vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-texte);
    padding: 3%;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 8px 10px -2px rgba(0,0,0,0.29);
-webkit-box-shadow: 0px 8px 10px -2px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 8px 10px -2px rgba(0,0,0,0.29);

}

.description{
    width: 60%;
}

.id{
    width: 40%;
    display: flex;
}

.id p, .description p{
    margin: 10px 0 10px 0;
}

.id-title{
    display: flex;
    flex-direction: column;
    margin: 0 10% 0 10%;
    font-weight: bold;
}

.id-details{
    display: flex;
    flex-direction: column;
    color: var(--light-grey-text);
}

/*--------------------------------------------------------------------------
                            RESUME
--------------------------------------------------------------------------*/


.resume-career{
    display: flex;
    padding: 2%;
    background-color: var(--white-texte);
    
}

.career{
    width: 50%;
}

.career h3{
    margin-left: 25%;
    text-transform: capitalize;
    font-size: 1.8rem;
}
  
.timeline {
    border-left: 0.25em solid var(--secondary-color);
    margin: 2em auto;
    line-height: 1.4em;
    padding: 1em;
    padding-left: 3em;
    list-style: none;
    text-align: left;
    margin-left: 8.4em;
    margin-right: 3em;
    border-radius: 0.5em;
  }
  
  .event {
    min-width: 24em;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
  }
  
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 1em;
  }
  
  .timeline .event:before {
    left: -15em;
    color: var(--black-text);
    content: attr(data-date);
    text-align: right;
    font-weight: bold;
    font-size: 1em;
    min-width: 9em;
  }
  
  .timeline .event:after {
    box-shadow: 0 0 0 0.2em #4298c3;
    left: -3.5em;
    background: var(--white-texte);
    border-radius: 50%;
    height: 0.75em;
    width: 0.75em;
    content: "";
  }
  
 
.accordion{
    height: 50px;
    width: 80%;
    margin-top: 20px;
    background-color: var(--main-color);
    color: var(--white-texte);
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 14px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.career-title{
    font-size: .9rem;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    cursor: pointer;
    background-color: var(--white-texte);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
.info{
    height: 0;
    width: 79.6%;
    background-color: transparent;
    color: #000;
    display: flex;
    align-items: center;
    padding: 0 14px;
    position: relative;
    overflow: hidden;
    border: 0;
    font-size: 0.9rem;
}

.info.reveal{
    min-height: 250px;
    border: 1px solid var(--main-color);
    border-radius: 0 0 10px 10px;
}

.accordion.radius{
border-radius:10px 10px  0 0 ;
}

@media screen and (max-width: 500px){
    .accordion, .info{
        width: 400px;
    }
}
@media screen and (max-width: 400px){
    .accordion, .info{
        width: 350px;
    }
}
@media screen and (max-width: 350px){
    .accordion, .info{
        width: 300px;
    }
}